<html prefix="og: http://ogp.me/ns#">
	<head>
		<title>Luna/404/ - Error Simulator</title>
		<meta property="og:title" content="404" />
		<meta property="og:site_name" content="Luna" />
		<meta property="og:url" content="http://lunaboards.tk/404" />
		<meta property="og:image" content="http://lunaboards.tk/static/assets/moooon.png" />
		<link rel="icon" type="image/png" href="/static/assets/moooon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/assets/theme.css">
	</head>
	<body>
		<h1><a href="http://lunaboards.tk:8080" class="hlink">Luna Error - 404</a></h1>
		<div style="font-size: 30pt">Stop trying to break things, faggot.</div>
	</body>
</html>
