<html prefix="og: http://ogp.me/ns#">
	<head>
		<title>Luna/500/ - Error Simulator</title>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@lunaboards" />
		<meta name="twitter:creator" content="@lunaboards_dev" />
		<meta property="og:title" content="500" />
		<meta property="og:site_name" content="Luna" />
		<meta property="og:url" content="http://lunaboards.xyz/500" />
		<meta property="og:image" content="http://lunaboards.xyz/static/assets/moooon.png" />
		<link rel="icon" type="image/png" href="/static/assets/moooon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/assets/theme.css">
		<link rel=“preload” href=“/static/assets/neon_pixel-7.ttf” as=“font”>
		<link rel=“preload” href=“/static/assets/FSEX300.ttf” as=“font”>
	</head>
	<body>
		<div class="Header"><a href="http://lunaboards.xyz" class="hlink">Kernel panic!</a></div>
		<p>Traceback:<br>
      {{traceback}}<br>
      Tell a developer (Probably just Sam) about this!
    </p>
	</body>
</html>
